<mat-list role="list" (click)="onClick()">

    <div mat-subheader>Menu</div>

    <mat-list-item matRipple routerLink="/me">
        <mat-icon matListItemIcon>account_circle</mat-icon>
        <div matListItemTitle>Mein Profil</div>
    </mat-list-item>
    
    <mat-list-item matRipple routerLink="/">
        <mat-icon matListItemIcon>apps</mat-icon>
        <div matListItemTitle>Übersicht</div>
    </mat-list-item>

    <mat-list-item matRipple routerLink="/minions">
        <mat-icon matListItemIcon>group</mat-icon>
        <div matListItemTitle>Verzeichnis</div>
    </mat-list-item>

    <mat-list-item matRipple routerLink="/emergency-list">
        <mat-icon matListItemIcon>emergency</mat-icon>
        <div matListItemTitle>Notfallkarte</div>
    </mat-list-item>

    <mat-list-item *ngIf="isGeoLocationUser" matRipple routerLink="/map">
        <mat-icon matListItemIcon>map</mat-icon>
        <div matListItemTitle>Karte</div>
    </mat-list-item>

    <a mat-list-item *ngIf="canUseApps && bfaUrl" matRipple [href]="bfaUrl">
        <mat-icon matListItemIcon>icecream</mat-icon>
        <div matListItemTitle>BFA</div>
    </a>
    
    <a mat-list-item *ngIf="canUseApps && fischmarktUrl" matRipple [href]="fischmarktUrl">
        <mat-icon matListItemIcon>sailing</mat-icon>
        <div matListItemTitle>Fischmarkt</div>
    </a>

    <mat-list-item matRipple (click)="openSingBook()">
        <mat-icon matListItemIcon>music_video</mat-icon>
        <div matListItemTitle>Liederbuch</div>
    </mat-list-item>

    <mat-list-item *ngIf="isAdmin" matRipple routerLink="/skill-share">
        <mat-icon matListItemIcon>school</mat-icon>
        <div matListItemTitle>SkillShare</div>
    </mat-list-item>

    <mat-list-item *ngIf="isAdmin" matRipple routerLink="/settings">
        <mat-icon matListItemIcon>settings</mat-icon>
        <div matListItemTitle>Einstellungen</div>
    </mat-list-item>

    <mat-list-item matRipple (click)="logout()">
        <mat-icon matListItemIcon>exit_to_app</mat-icon>
        <div matListItemTitle>Logout</div>
    </mat-list-item>

</mat-list>
